@model DotNetReader.Models.UserProfile

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserProfile</legend>

        @Html.HiddenFor(model => model.UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eventRead)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eventRead)
            @Html.ValidationMessageFor(model => model.eventRead)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eventDownloaded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eventDownloaded)
            @Html.ValidationMessageFor(model => model.eventDownloaded)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.eventClicked)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eventClicked)
            @Html.ValidationMessageFor(model => model.eventClicked)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.feedMaxEvent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.feedMaxEvent)
            @Html.ValidationMessageFor(model => model.feedMaxEvent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SynchronisationType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SynchronisationType)
            @Html.ValidationMessageFor(model => model.SynchronisationType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.articleDisplayType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.articleDisplayType)
            @Html.ValidationMessageFor(model => model.articleDisplayType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SynchroCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SynchroCode)
            @Html.ValidationMessageFor(model => model.SynchroCode)
        </div>

          <div class="editor-label">
            @Html.LabelFor(model => model.EventPerPage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EventPerPage)
            @Html.ValidationMessageFor(model => model.EventPerPage)
        </div>

        <p>
            <input type="submit" value="Save" class="btn" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
